<footer class="w3-center footer">
    <div class="w3-container thmLtGray w3-padding-48">
        <div class="w3-third copyNotice">
            Site is owned and operated by
            <p>{{@site.title}} © {{date format="YYYY"}}</p>
        </div>
        <div class="w3-third secondaryNav">
            <a href="/privacy">Privacy</a>&nbsp;&middot;
            <a href="/cookie-policy">Cookies</a>
        </div>
        <div class="w3-third">
            <div class="w3-large">
                <a href="#"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
                <a href="#"><i class="fa fa-pinterest-p w3-hover-opacity"></i></a>
                <a href="https://twitter.com/zosolemons"><i class="fa fa-twitter w3-hover-opacity"></i></a>
                <a href="https://www.linkedin.com/in/mike-sanders-9b62742a9/"><i
                        class="fa fa-linkedin w3-hover-opacity"></i></a>
            </div>
        </div>
    </div>
</footer>