:root{
    --color-black: #000;
    --color-white: #fff;
    --color-offwhite: #f1f1f1;
    --color-soft-black: #6d6b6b;
    --color-green: #4CAF50;
    --color-lt-gray: #f1f1f1;
    --color-gold: rgb(233, 191, 137);
}

.thmBlack{
    background-color: var(--color-black);
    color: var(--color-white);
}

.thmLtGray{
    background-color: var(--color-lt-gray);
    color: var(--color-black);
}

.thmGreen{
    background-color: var(--color-green);
    color: var(--color-white);
}

.thmWhite{
    background-color: var(--color-white);
    color: var(--color-black);
}

.thmGold{
    background-color: gold;
    color: var(--color-black);
}